<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" id="jumbo">
        <h1>Welcome to Throne.</h1>
        <p>Let us help you search for your perfect restroom experience.</p>
        <p>
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button">Find my throne!</button>
              </span>
            </div>
          </div>
        </p>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="../../assets/images/restroom1.svg" alt="Restroom sign">
          </a>
        </div>
        <p>This restroom was awesome!  Complete with heart shaped urinal cakes.  The smell was fresh and the place was clean.  The only downside was that the machine vending machine was out of gum.</p>
      </div>
    </div>
  </body>
</html>
